* {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    height: auto;
    width: 100%;
    padding: 20px 5px 0px 5px;
    background-color: black;
}

[hidden] {
    display: none !important;
}

.container-parent {
    display: grid;
    grid-template-columns: 26% 48% 26%;
    height: auto;
}

.aside-izq {
    display: grid;

    grid-template-rows: auto auto;
    margin: 10px;
    row-gap: 8px;
    height: auto;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    color: aliceblue;
    border-radius: 8px;
}

.btn-nav {
    display: flex;
    column-gap: 10px;
    height: 3rem;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
    transition: all .2s;
}


.btn-nav:hover {
    transform: scale(1.03);
}


#biblioteca {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: rgb(25, 25, 25);
    padding-top: 20px;
    border-radius: 8px;
    row-gap: 20px;

}

.barra-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px;
}

.sub-barra1 {
    display: flex;
    column-gap: 15px;
    cursor: pointer;
}

.contint i:hover {
    transform: scale(1.2);
}

.contbiblioteca:hover {
    transform: scale(1.03);
}

.barra-2 {
    display: flex;
    align-items: center;
    padding: 0 7px;
    overflow-x: hidden;
    z-index: 0;


}

#btn2 {
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    border-radius: 20px;
    outline: none;
    border: none;
    height: 2rem;
    width: auto;
    margin-left: 2px;
    white-space: nowrap;
    padding: 0 9px;
    z-index: 0;
}

#btn2:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    font-weight: bolder;

}

.contenedor-flechas {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    cursor: pointer;
    /* Z-index del elemento principal */
    z-index: 1;


}

.contenedor-flechas:hover {
    background-color: rgb(78, 78, 78);

}


.flecha-derecha {
    left: 23.25%;


}

.flecha-derecha::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: rgb(78, 78, 78);
    margin-right: 56%;
    z-index: -1;
    background: linear-gradient(to right, transparent, rgb(25, 25, 25), rgb(25, 25, 25));
    /* Degradado */

}

.flecha-izquierda::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: rgb(78, 78, 78);
    margin-left: 56%;
    z-index: -1;
    background: linear-gradient(to left, transparent, rgb(25, 25, 25), rgb(25, 25, 25));
    /* Degradado */

}

.barra-recientes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;

}

.barra-recientes-busqueda {
    display: flex;
    column-gap: 6px;
    height: auto;
    width: auto;
    padding: 8px;
    align-items: center;
    background-color: rgb(51, 51, 51);
    border-radius: 4px;
}

.input-recientes {
    border: none;
    outline: none;
    font-weight: bolder;
}

.btn-recientes {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    display: flex;
    column-gap: 6px;
    align-items: center;

}

.fa-bars {
    margin-top: 2px;
}

.img-biblioteca {
    width: 100%;
    height: auto;
    border-radius: 4px;

}

.bilbioteca-imagenes {
    margin-top: 20px;
    display: grid;
    row-gap: 15px;
    padding-left: 10px;
}

.plst {
    display: grid;
    grid-template-columns: 15% 82%;
    column-gap: 10px;
}

.descripcion-bilbioteca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    row-gap: 5px;


}

.descripcion-bilbioteca>h3 {
    font-weight: bolder;

}

.descripcion-bilbioteca>p {
    font-size: small;
    color: #c5c3c3;
}